In [1]:
import pandas as pd
drug = pd.read_csv('../assets/datasets/drug-use-by-age.csv')

In [4]:
drug.head()

,age,n,alcohol-use,alcohol-frequency,marijuana-use,marijuana-frequency,cocaine-use,cocaine-frequency,crack-use,crack-frequency,...,oxycontin-use,oxycontin-frequency,tranquilizer-use,tranquilizer-frequency,stimulant-use,stimulant-frequency,meth-use,meth-frequency,sedative-use,sedative-frequency
0,12,2798,3.9,3.0,1.1,4.0,0.1,5.0,0.0,-,...,0.1,24.5,0.2,52.0,0.2,2.0,0.0,-,0.2,13.0
1,13,2757,8.5,6.0,3.4,15.0,0.1,1.0,0.0,3.0,...,0.1,41.0,0.3,25.5,0.3,4.0,0.1,5.0,0.1,19.0
2,14,2792,18.1,5.0,8.7,24.0,0.1,5.5,0.0,-,...,0.4,4.5,0.9,5.0,0.8,12.0,0.1,24.0,0.2,16.5
3,15,2956,29.2,6.0,14.5,25.0,0.5,4.0,0.1,9.5,...,0.8,3.0,2.0,4.5,1.5,6.0,0.3,10.5,0.4,30.0
4,16,3058,40.1,10.0,22.5,30.0,1.0,7.0,0.0,1.0,...,1.1,4.0,2.4,11.0,1.8,9.5,0.3,36.0,0.2,3.0

In [5]:
drug.shape

(17, 28)

In [6]:
drug.columns

Index([u'age', u'n', u'alcohol-use', u'alcohol-frequency', u'marijuana-use',
       u'marijuana-frequency', u'cocaine-use', u'cocaine-frequency',
       u'crack-use', u'crack-frequency', u'heroin-use', u'heroin-frequency',
       u'hallucinogen-use', u'hallucinogen-frequency', u'inhalant-use',
       u'inhalant-frequency', u'pain-releiver-use', u'pain-releiver-frequency',
       u'oxycontin-use', u'oxycontin-frequency', u'tranquilizer-use',
       u'tranquilizer-frequency', u'stimulant-use', u'stimulant-frequency',
       u'meth-use', u'meth-frequency', u'sedative-use', u'sedative-frequency'],
      dtype='object')

In [7]:
drug['crack-use']

0     0.0
1     0.0
2     0.0
3     0.1
4     0.0
5     0.1
6     0.4
7     0.5
8     0.6
9     0.5
10    0.5
11    0.5
12    0.4
13    0.5
14    0.5
15    0.4
16    0.0
Name: crack-use, dtype: float64

In [8]:
drug[['crack-use']].head()

   crack-use
0        0.0
1        0.0
2        0.0
3        0.1
4        0.0

In [9]:
drug[['age', 'crack-use']].head()

  age  crack-use
0  12        0.0
1  13        0.0
2  14        0.0
3  15        0.1
4  16        0.0

In [11]:
print(type(drug['age']))
print(type(drug[['age']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [12]:
drug.age.head()

0    12
1    13
2    14
3    15
4    16
Name: age, dtype: object

In [13]:
drug['crack-use'].describe()

count    17.000000
mean      0.294118
std       0.235772
min       0.000000
25%       0.000000
50%       0.400000
75%       0.500000
max       0.600000
Name: crack-use, dtype: float64

In [14]:
drug[['crack-use', 'alcohol-frequency']].describe()

       crack-use  alcohol-frequency
count  17.000000          17.000000
mean    0.294118          33.352941
std     0.235772          21.318833
min     0.000000           3.000000
25%     0.000000          10.000000
50%     0.400000          48.000000
75%     0.500000          52.000000
max     0.600000          52.000000

In [15]:
drug.mean()

n                          3251.058824
alcohol-use                  55.429412
alcohol-frequency            33.352941
marijuana-use                18.923529
marijuana-frequency          42.941176
cocaine-use                   2.176471
crack-use                     0.294118
heroin-use                    0.352941
hallucinogen-use              3.394118
hallucinogen-frequency        8.411765
inhalant-use                  1.388235
pain-releiver-use             6.270588
pain-releiver-frequency      14.705882
oxycontin-use                 0.935294
tranquilizer-use              2.805882
tranquilizer-frequency       11.735294
stimulant-use                 1.917647
stimulant-frequency          31.147059
meth-use                      0.382353
sedative-use                  0.282353
sedative-frequency           19.382353
dtype: float64

In [16]:
new_index_values = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q']
drug.index = new_index_values

In [17]:
drug.head()

,age,n,alcohol-use,alcohol-frequency,marijuana-use,marijuana-frequency,cocaine-use,cocaine-frequency,crack-use,crack-frequency,...,oxycontin-use,oxycontin-frequency,tranquilizer-use,tranquilizer-frequency,stimulant-use,stimulant-frequency,meth-use,meth-frequency,sedative-use,sedative-frequency
A,12,2798,3.9,3.0,1.1,4.0,0.1,5.0,0.0,-,...,0.1,24.5,0.2,52.0,0.2,2.0,0.0,-,0.2,13.0
B,13,2757,8.5,6.0,3.4,15.0,0.1,1.0,0.0,3.0,...,0.1,41.0,0.3,25.5,0.3,4.0,0.1,5.0,0.1,19.0
C,14,2792,18.1,5.0,8.7,24.0,0.1,5.5,0.0,-,...,0.4,4.5,0.9,5.0,0.8,12.0,0.1,24.0,0.2,16.5
D,15,2956,29.2,6.0,14.5,25.0,0.5,4.0,0.1,9.5,...,0.8,3.0,2.0,4.5,1.5,6.0,0.3,10.5,0.4,30.0
E,16,3058,40.1,10.0,22.5,30.0,1.0,7.0,0.0,1.0,...,1.1,4.0,2.4,11.0,1.8,9.5,0.3,36.0,0.2,3.0

In [18]:
subset = drug.loc[['B','C','D','E','F'], ['marijuana-use','marijuana-frequency']]

In [19]:
subset

   marijuana-use  marijuana-frequency
B            3.4                 15.0
C            8.7                 24.0
D           14.5                 25.0
E           22.5                 30.0
F           28.0                 36.0

In [20]:
subset = drug.iloc[[1,2,3,4,5], [4,5]]

In [21]:
subset

   marijuana-use  marijuana-frequency
B            3.4                 15.0
C            8.7                 24.0
D           14.5                 25.0
E           22.5                 30.0
F           28.0                 36.0

In [22]:
subset = drug.ix[[1,2,3,4,5], ['marijuana-use','marijuana-frequency']]

In [23]:
subset

   marijuana-use  marijuana-frequency
B            3.4                 15.0
C            8.7                 24.0
D           14.5                 25.0
E           22.5                 30.0
F           28.0                 36.0

In [24]:
subset = drug.ix[['F','E','D'], ['marijuana-frequency','marijuana-use']]

In [25]:
subset

   marijuana-frequency  marijuana-use
F                 36.0           28.0
E                 30.0           22.5
D                 25.0           14.5

In [26]:
mydata = pd.DataFrame({'Letters':['A','B','C'], 'Integers':[1,2,3], 'Floats':[2.2, 3.3, 4.4]})

In [27]:
mydata

   Floats  Integers Letters
0     2.2         1       A
1     3.3         2       B
2     4.4         3       C